# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea

# Distribution / packaging
build/
dist/
*.egg-info/

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Docker
*.env
docker-compose.override.yml
.env
.env.*

# MongoDB
*.lock
mongod.lock

# Virtual environments
venv/

local_dump
data